<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-25}</string>
                <key>spriteSize</key>
                <string>{652,526}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{1501,1173},{652,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{654,534}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{1501,517},{654,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{668,540}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{705,543},{668,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-19}</string>
                <key>spriteSize</key>
                <string>{680,538}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{961,1085},{680,538}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-19}</string>
                <key>spriteSize</key>
                <string>{696,538}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{709,1},{696,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{702,540}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{1,543},{702,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{706,540}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{706,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,-29}</string>
                <key>spriteSize</key>
                <string>{764,456}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{503,1085},{764,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-38}</string>
                <key>spriteSize</key>
                <string>{722,500}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{1,1085},{722,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-31}</string>
                <key>spriteSize</key>
                <string>{628,514}</string>
                <key>spriteSourceSize</key>
                <string>{1024,576}</string>
                <key>textureRect</key>
                <string>{{1407,1},{628,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bloodfog.png</string>
            <key>size</key>
            <string>{2036,1850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99017e3ef1c9d3902807c32e64fa3746:eac70acfb242692f843d5e484df84ad4:338575c1e3374c381594fa163123d52b$</string>
            <key>textureFileName</key>
            <string>bloodfog.png</string>
        </dict>
    </dict>
</plist>
