<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{650,520}</string>
                <key>textureRect</key>
                <string>{{807,299},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{650,520}</string>
                <key>textureRect</key>
                <string>{{589,299},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,296}</string>
                <key>spriteSourceSize</key>
                <string>{650,520}</string>
                <key>textureRect</key>
                <string>{{589,1},{296,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{650,520}</string>
                <key>textureRect</key>
                <string>{{461,523},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{458,456}</string>
                <key>spriteSourceSize</key>
                <string>{650,520}</string>
                <key>textureRect</key>
                <string>{{1,523},{458,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{586,520}</string>
                <key>spriteSourceSize</key>
                <string>{650,520}</string>
                <key>textureRect</key>
                <string>{{1,1},{586,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wave.png</string>
            <key>size</key>
            <string>{946,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:336b4127d39062618ec0e7f02c3d7466:033d24eb124f3485e7c3e595fb64fc82:459d900407ea755f41f726bf2d90b84c$</string>
            <key>textureFileName</key>
            <string>wave.png</string>
        </dict>
    </dict>
</plist>
